header {
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
header nav {
  padding: 40px;
}
a {
  color: seashell;
}
nav {
  text-align: right;
  flex-grow: 1;
}
.main-container {
  display: flex;
  background-color: black;
  flex-direction: column;
  padding-top: 69px;
  margin: auto;
  justify-content: center;
}
.mission {
  width: 1200px;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
  padding-top: 70px:
}
.locations {
  display: flex;
  width: 1100px;
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
  align-content: center;
}
h2 {
  color: white;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body {
  margin: 0;
  text-align: center;
}
